a {
    text-decoration: none;
}

li {
    list-style-type: none;
    text-align: center;
    margin-right: 40px;
}

label {
    font-weight: 500;
}

.stk {
    text-decoration: line-through;
}

.h-bs {
    box-shadow: 0 0.25px 2px #000;
}

.f-bs {
    box-shadow: 0 0.25px 2px #000;
}

.hf-bg-color {
    background-color: #424148;
}

.button-p {
    height: 3em;
}

#desk {
    background-color: #B1B1B199;
}

#desk div div h2 {
    box-shadow: 0px 1px 2px #6C3600;
}

